.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.col3 {
	float: left;
	width: 25%;
	height: 300px;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.clearfix {
	clear: both;
}
.button_to_another_page {
	width: 50%;
	margin: 15px auto;
	background-color: cornflowerblue;
	text-align: center;
}
.button {
	background-color: gray;
	font-size: 20px;
	font-family: serif;
	display: inline-block;
	border-radius: 50%;
}